# STS / Eclipse
.metadata/
.project
.classpath
.settings/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Environment / secrets
.env